$white: #ffffff;
$black: #000000;
$trout: #4f5665;
$haiti: #0b132a;
$pomegranate: #f53838;
$fairPink: #ffecec;
$jungleGreen: #2fab73;
$texasRose :#fea250;
$iron :#dde0e4;
$alto: #dddddd;
$ebony: #0d1025;
$alabaster: #f8f8f8;
$cadetBlue: #afb5c0;
$valencia: #d83030;

%Rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%Rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}